@model Jobbook.Models.JobbookCompanyModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobbookCompanyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobbookCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobbookCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobbookCompanyDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobbookCompanyDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobbookCompanyWebsite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobbookCompanyWebsite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobbookCompanyEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobbookCompanyEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobbookCompanyTel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobbookCompanyTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
